body{
    background-color:#efefef;
}

.navbar{
    background-color:#efefef;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar a{
    color:#23303d;
    float:right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    color:#efefef;
    background: #395159;
}

.nav-link{
    margin-left:10px;
}

.jumbotron{
    margin-top:20px;
    margin-bottom:0;
    color:#efefef;
    background-color:#23303d;
}

.Cecelia img{
    width:190px;
    height:200px;
    margin-right:20px;
    margin-left:60px;
    border-radius: 50%;
}

.display-4{
    font-weight: bold;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }